<!-- <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide *ngFor="let image of images">
      <img [src]="image" alt="Random slide">
      <div class="carousel-caption">
        <h3>No mouse navigation</h3>
        <p>This carousel hides navigation arrows and indicators.</p>
      </div>
    </ng-template>
  </ngb-carousel> -->
<div class="container" >
 <div class="row">
  <div clas="col-sm">
    <div class="" style="color: yellow;text-align: center">Ajudando a conectar até 2022<br> 1 milhão de mulheres<br> nesse mercado</div>
    <div class="img1"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <button type="button" class="btn btn-primary">Primary</button>
  </div>
</div>
</div>

