<footer>
    <div class="container">
        <div class="row">
          <div class="col-3">
            <div class="home-on"></div>
          </div>
          <div class="col-3">
            <div class="categoria-off"></div>
          </div>
          <div class="col-3">
            <div class="busca-off"></div>
          </div>
          <div class="col-3">
            <div class="notificacao-off"></div>
            </div>
            <div class="col-3">
              <div class="contato-off"></div>
            </div>
        </div>
      </div>
</footer>
