
<!-- Page Content -->
<div class="container" style="padding-bottom: 70px;background-color: #141414">

    <!-- Page Heading -->
    <h5 class="my-4" style="text-align: center; color: #A287F4">WMusic</h5>
  
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100 fundo-preto">
          <a href="#"><div class="violao" alt=""></div><div class="" alt=""></div></a>
          <div class="card-body">
            <h6 class="card-title estrela4">
              <a href="#" style="margin-left: -70px;">Composição Básica</a>
            </h6>
            <p class="card-text">Adriana Calcanhoto</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100 fundo-preto">
          <a href="#"><div class="mesadesom" alt=""></div></a>
          <div class="card-body">
            <h6 class="card-title estrela5">
              <a href="#" style="margin-left: -70px;">Mixagem e Masterização</a>
            </h6>
            <p class="card-text">Mariana P. Gomes</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100 fundo-preto">
          <a href="#"><div class="vocal" alt=""></div></a>
          <div class="card-body">
            <h6 class="card-title estrela2">
              <a href="#" style="margin-left: -70px;">Técnicas de Canto</a>
            </h6>
            <small class="card-text">Patrícia Camargo</small>
          </div>
        </div>
      </div>
      
    </div>
    <!-- /.row -->
  
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="home-off" [routerLink]="['/home']"></div>
                </div>
                <div class="col-2">
                    <div class="categoria-off" [routerLink]="['/categoria']" ></div>
                </div>
                <div class="col-2">
                    <div class="busca-on" [routerLink]="['/busca']"></div>
                </div>
                <div class="col-2">
                    <div class="notificacao-off" [routerLink]="['/notificacao']"></div>
                </div>
                <div class="col-2">
                    <div class="contato-off" [routerLink]="['/conta']"></div>
                </div>
            </div>
        </div>
    </footer>