  <!-- Page Content -->
  <div style="background-color: #141414">
  <div class="container" style="padding-bottom:70px">
    <div class="row">

      <div class="col-lg-3">
          <!-- Page Heading -->
          <h5 class="my-4" style="text-align: center; color: #A287F4">Alle</h5>

        <p class="my-4" style="color:ghostwhite; font-size:12px">MULHERES CONECTADAS<p>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
        <div class="row">
          <div class="maps"></div>
          <div class="col-lg-4 col-md-6 mb-4">
              <a href="#"><img class="card-img-top" src="./img/maps.png" alt=""></a>
              <div class="col-lg-4" style="text-align: center; color: #A287F4">10K<br><div style= "color:ghostwhite; font-size:12px">Atual</div></div>
          </div>
          
          <div class="col-lg-3">
              <div class="my-4" style="color:ghostwhite; font-size:12px">CURSOS PARA VOCÊ</div>
            </div>

          <div class="col-lg-4 col-md-6 mb-4">
              <div class="composicao">
              <a href="#"><img class="card-img-top" src="./img/composicao.png" alt=""></a>
            </div>
            <div style="color:ghostwhite; font-size:10px"><b>Composição básica</b><br>Joana Meirelles
            </div>
              </div>

              <div class="col-lg-4 col-md-6 mb-4">
                  <div class="mixagem">
                  <a href="#"><img class="card-img-top" src="./img/mixagem.png" alt=""></a>
                </div>
                <div style="color:ghostwhite; font-size:10px"><b>Mixagem e masterização</b><br>Marina P. Gomes
                </div>
              </div>

          <div class="col-lg-3">
              <p class="my-4" style="color:ghostwhite; font-size:12px">MAIS POPULARES</p>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="protools">
                <a href="#"><img class="card-img-top" src="./img/protools.png" alt=""></a>
              </div>
              <div style="color:ghostwhite; font-size:10px"><b>Protools p/ Iniciantes</b><br>Tereza Christina
              </div>
            </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="bateria">
                    <a href="#"><img class="card-img-top" src="./img/bateria.png" alt=""></a>
                  </div>
                  <div style="color:ghostwhite; font-size:10px"><b>Bateria</b><br>Márcia J. Leite
                  </div>
                </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->
      <footer>
          <div class="container">
            <div class="row">
              <div class="col-2">
                <div class="home-on" [routerLink]="['/home']"></div>
              </div>
              <div class="col-2">
                <div class="categoria-off" [routerLink]="['/categoria']"></div>
              </div>
              <div class="col-2">
                <div class="busca-off" [routerLink]="['/busca']"></div>
              </div>
              <div class="col-2">
                <div class="notificacao-off" [routerLink]="['/notificacao']"></div>
              </div>
              <div class="col-2">
                <div class="contato-off" [routerLink]="['/conta']"></div>
              </div>
            </div>
          </div>
        </footer>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  
</div>