<!-- Page Content -->
<style>
  .hover1:hover { 
  background-color: #A287F4;
}
</style>
<div class="container" style="padding-bottom: 70px;background-color: #141414">

  <!-- Page Heading -->
  <h5 class="my-4" style="text-align: center; color: #A287F4">Categorias</h5>

  <div class="row">
    <div class="col-6">
      <div class="card h-100 fundo-preto">
        <a href="#">
          <div class="" alt=""></div>
          <div class="" alt=""></div>
        </a>
        <div class="card-body cursor-pointer hover1" style="text-align: center; color:white;" >
            <i class="material-icons"style="font-size: 5em;color:white;">create</i>
            <p>COMPOSIÇÃO</p>
        </div>
      </div>
    </div>
    <div class="col-6 ">
      <div class="card h-100 fundo-preto">
        <a href="#">
          <div class="" alt=""></div>
        </a>
        <div class="card-body cursor-pointer hover1" style="text-align: center; color:white;" >
            <i class="material-icons"style="font-size: 5em;color:white;">straighten</i>
            <p>INSTRUMENTAÇÃO</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card h-100 fundo-preto">
        <a href="#">
          <div class="" alt=""></div>
          <div class="" alt=""></div>
        </a>
        <div class="card-body cursor-pointer hover1" style="text-align: center; color:white;" >
            <i class="material-icons"style="font-size: 5em;color:white;">mic</i>
            <p>CANTO</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card h-100 fundo-preto">
        <a href="#">
          <div class="" alt=""></div>
        </a>
        <div class="card-body cursor-pointer hover1" style="text-align: center; color:white;" >
            <i class="material-icons" style="font-size: 5em;color:white;">queue_music</i>
            <p>MIXAGEM</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card h-100 fundo-preto">
        <a href="#">
          <div class="" alt=""></div>
          <div class="" alt=""></div>
        </a>
        <div class="card-body cursor-pointer hover1" style="text-align: center; color:white;" >
            <i class="material-icons"style="font-size: 5em;color:white;">headset</i>
            <p>DJ</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card h-100 fundo-preto">
        <a href="#">
          <div class="" alt=""></div>
        </a>
        <div class="card-body cursor-pointer hover1" style="text-align: center; color:white">
            <i class="material-icons" style="font-size: 5em;color:white;">music_note</i>
          <p>TEORIA MUSICAL</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-2">
          <div class="home-off" [routerLink]="['/home']"></div>
        </div>
        <div class="col-2">
          <div class="categoria-on" [routerLink]="['/categoria']"></div>
        </div>
        <div class="col-2">
          <div class="busca-off" [routerLink]="['/busca']"></div>
        </div>
        <div class="col-2">
          <div class="notificacao-off" [routerLink]="['/notificacao']"></div>
        </div>
        <div class="col-2">
          <div class="contato-off" [routerLink]="['/conta']"></div>
        </div>
      </div>
    </div>
  </footer>